* {
  box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  width: 100%;
}

.panel {
  text-align: left;
  background-color: black;
  height: 100vh;
  width: 25%;
}

.list {
  display: flex;
  justify-content: center;
  width: 75%;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.panel div {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.displayList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: black;
  border-radius: 20%;
  border: 3px outset white;
}

button:hover {
  color: yellow;
}

button:active {
  color: red;
  border: 3px inset white;
}

table {
  text-align: center;
}


td {
  padding-right: 0.5rem;
}

.completed {
  margin-top: 1rem;
  text-align: center;
}

#message {
  width: 100%;
  text-align: center;
}

.warning {
  color: red;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}
