* {
  box-sizing: border-box;
}

/*** layout ***/
body {
  text-align: center;
  display: flex;
  width: 100%;
}

.panel {
  text-align: left;
  background-color: black;
  min-height: 100vh;
  width: 22%;
}

.list {
  display: flex;
  justify-content: center;
  width: 78%;
  background-color: rgba(224, 231, 90, 0.4);
}

.wrap {
  display: flex;
  flex-direction: column;
}

.panel div {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.displayList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border-right: 6px solid black;
  border-left: 6px solid black;
}

/*** buttons ***/
#add_task_input {
  background-color: rgb(224, 231, 90);
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: black;
  border-radius: 20%;
  border: 3px outset white;
}

button:hover {
  color: yellow;
}

button:active {
  color: red;
  border: 3px inset white;
}

/*** tables ***/
table {
  text-align: center;
  margin-right: 3rem;
  margin-left: 3rem;
}

thead tr {
  background-color: black;
  color: white;
}

tbody {
  border: 2px solid black;
}

td {
  padding-right: 0.5rem;
}

/*** table of current tasks ***/
.task {
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.completedSubtask {
  color: blue;
}

/*** table of completed tasks ***/
.completed {
  margin-top: 1rem;
  text-align: center;
}

.completedTask {
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

/*** warnings ***/
#message {
  width: 100%;
  text-align: center;
}

.warning {
  color: red;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  text-decoration: underline;
}

/*** queries ***/
@media screen and (max-width: 768px) {
  .panel {
    width: 40%;
  }

}
